* {
        
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.contenedor {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

/*-----------------------------------*/
/* HEADER */
/*-----------------------------------*/

header {
    padding: 20px 0;
}

header .logo {
    text-align: center; 
    margin-bottom: 0px;
}

header .logo p {
    color: #000000c7; 
}

header .logo a {
    text-decoration: none;
    color: black;
}

/*-----------------------------------*/
/* MAIN */
/*-----------------------------------*/

.description {
    background-color: none;
    width: 100%;
    max-width: 800px;
    margin-top: 10px;
    text-align: center;
}

/*-----------------------------------*/
/* ILUSTRACIONES */
/*-----------------------------------*/

.img {
    width: 250px;
    height: auto;
    margin-left: auto;
    position: relative;
    justify-content: center;
}
